In [1]:
print("Hello")

Hello

In [2]:
#comment

In [3]:
x = 4
xString = "x"
print(x)

4

In [4]:
x = 4
x = "x"
print(x)

x

In [6]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [8]:
#type
x = 5
print(type(x))
y="Code Devil"
print(type(y))

<class 'int'>
<class 'str'>

In [9]:
x = "Devil"
#same as
y = 'Devil'
print(x)
print(y)

Devil
Devil

In [10]:
        #Case
#Camel case

firstVariableCase = "Devil"

#Pascal Case
FirstVariableCase = "Devil"

#Snake Case

first_variable_case = "Devil"

In [11]:
#Multiple Variable
a,b,c = "A","B","C"
print(a)
print(b)
print(c)

A
B
C

In [12]:
number = ["1","2"]
x,y = number
print(x)
print(y)

1
2

In [13]:
x = "Devil"
print("Code" + x)

CodeDevil

In [14]:
#Random Number

import random
print(random.randrange(1,50))

27

In [15]:
import random
print(random.randrange(1,50))

12

In [16]:
#Casting

x = float(2)
y = float(3.5)
z = float("2")
k = float("3.5")

print(x)
print(y)
print(z)
print(k)

2.0
3.5
2.0
3.5

In [17]:
x = float(2)
y = float(3.5)
z = float("2")
k = float("3.5")

print(type(x))
print(type(y))
print(type(z))
print(type(k))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [18]:
##String###

a = "Code Devil"
print(a[1])

o

In [19]:
a = "Code Devil"
print(a[3])

e

In [23]:
a = "Code Devil"
print(len(a))

10

In [24]:
a = "C"
print(len(a))

1

In [25]:
a = "Col"
print(len(a))

3

In [26]:
a = "Code Devil"
print("code" in c)

False

In [27]:
a = "Code Devil"
print("code" in a)

False

In [56]:
a = "Code Devil"
for a in "Code":
    print(a)

C
o
d
e

In [29]:
#Slicing


b = "Code Devil"
print(b[3:6])

e D

In [34]:
b = "Code Devil"
print(b[2:])

de Devil

In [35]:
b = "Code Devil"
print(b[-1:-4])

In [36]:
b = "Code Devil"
print(b[-3:-6])

In [37]:
b = "Code Devil"
print(b[2:3])

d

In [38]:
b = "Code Devil"
print(b[-2:])

il

In [42]:
#upperCase
c = "Code Devil"
print(c.lower())

code devil

In [43]:
#upperCase
c = "Code Devil"
print(c.upper())

CODE DEVIL

In [44]:
#upperCase
c = "Code Devil"
print(c.replace("C","D"))

Dode Devil

In [45]:
c = "Code Devil"
print(c.replace("E","D"))

Code Devil

In [46]:
c = "Code Devil"
print(c.replace("e","v"))

Codv Dvvil

In [47]:
c = "Code Devil"
print(c.split(" "))

['Code', 'Devil']

In [48]:
c = "CodeDevil"
print(c.split(" "))

['CodeDevil']

In [49]:
c = "Code,Devil"
print(c.split(","))

['Code', 'Devil']

In [50]:
c = "CodeDevil"
print(c.split("e"))

['Cod', 'D', 'vil']

In [51]:
#Format
count = 10
a = "Code Devil"
print(a.format(count))

Code Devil

In [52]:
count = 10
a = "Code Devil {} "
print(a.format(count))

Code Devil 10

In [53]:
a ="Code Devil"
for a in "Devil":
    print(x)

2.0
2.0
2.0
2.0
2.0

In [1]:
#capitalize
a = "code Devil"
print(a.capitalize())

Code devil

In [2]:
#capitalize
a = "Code Devil"
print(a.capitalize())

Code devil

In [4]:
#casefold
a = "Code Devil"
print(a.casefold())

code devil

In [5]:
#casefold
a = "CodeDevil"
print(a.casefold())

codedevil

In [6]:
#casefold
a = "CODEDEVİLl"
print(a.casefold())

codedevi̇ll

In [9]:
#CENTER
a = "Code Devil"
print(a.center(5,"D"))

Code Devil

In [15]:
#CENTER
a = "Code"
print(a.center(100))

                                                Code

In [17]:
#encode


a = "Code Devil"

print(a.encode())

b'Code Devil'

In [18]:
a = "Code Devil"

print(a.encode())

b'Code Devil'

In [19]:
a = "Code"

print(a.encode())

b'Code'

In [28]:
#êndswith
a = ".Code Devil"
print(a.endswith("."))

False

In [36]:
#expadtabs

a = "Code"

print(a.expandtabs(10))

Code

In [37]:
#find

a= "Code Devil"
print(a.find("v",4,9))

7

In [38]:
a= "Code Devil"
print(a.find("v"))

7

In [45]:
a= "Code Devil"
print(a.find("de",1,2))

-1

In [46]:
#index


a = "Code Devil"

print(a.index("i",4,9))

8

In [47]:
a = "Code Devil"

print(a.index("v",4,9))

7

In [54]:
a = "Code Devil"
print(a.index("Devil"))

5

In [55]:
a = "Code Devil"
print(a.index("De"))

5

In [56]:
a = "Code Devil"
print(a.index("evil"))

6

In [57]:
a = "Code Devil"
print(a.index("vil"))

7

In [61]:
a = "Code Devil"
print(a.find("e",4,9))

6

In [73]:
#isalnum

a = "1Code12 Devil1223232" #(a-z) (0-9)
print(a.isalnum())

False

In [88]:
#isalpha


a = "Code Devil"

print(a.isalpha())

False

In [100]:
#isdecimal


a = "10" #o
print(a.isdecimal())

True

In [103]:
#İSDİGİT

a = "100a0"

print(a.isdigit())

False

In [104]:
#isidentifier

a = "Code Devil"
print(a.isidentifier())

False

In [110]:
a = "C odeDe vil"
print(a.isidentifier())

False

In [114]:
#İSLOWER

a = "codedevil"

print(a.islower())

True

In [115]:
#isnumeric

a = "Codel Devil"
print(a.isnumeric())

False

In [116]:
a = "Codel Devil1"
print(a.isnumeric())

False

In [117]:
a = "0001"
print(a.isnumeric())

True

In [118]:
a = "-1"
print(a.isnumeric())

False

In [119]:
a = "1km"
print(a.isnumeric())

False

In [120]:
#isspace

a = "Code Devil"
print(a.isspace())

False

In [121]:
a = "CodeDevil"
print(a.isspace())

False

In [122]:
a = " "
print(a.isspace())

True

In [123]:
a = " D "
print(a.isspace())

False

In [124]:
#istitle

a = "Code Devil"
print(a.istitle())

True

In [125]:
a = "code devil"
print(a.istitle())

False

In [126]:
a = "Code devil"
print(a.istitle())

False

In [128]:
#join

a = "b,c,d"
print("#".join(a))

b#,#c#,#d

In [131]:
#replace

a = "Code"
print(a.replace("Code","Devil"))

Devil

In [132]:
a = "a"
print(a.replace("a","b"))

b

In [141]:
#partition

a = "c b a t k b m"

print(a.partition("k"))

('c b a t ', 'k', ' b m')

In [144]:
#rfind

a = "Code Devil Code"
print(a.rfind("i"))

8

In [145]:
#split
a = "1,2,3,4,5,6,7,8,9"

print(a.split())

['1,2,3,4,5,6,7,8,9']

In [152]:
#rsplit

a = "1,2,3,4,5,6,7,8,9"

print(a.rsplit(","))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [159]:
# BOOLEAN

a = 1
b= 50

if a>b:
    print(a)
else:
    print(b)

50

In [162]:
print(bool())

False

In [165]:
x = 10
print(isinstance("C",str))

True

In [190]:
#OPERATORS

a = 2
a <<=5  
print(a)

64

In [1]:
#LİST
aList = ["a","b","c"]
print(aList)

['a', 'b', 'c']

In [2]:
aList = ["a","b","c"]
print(len(aList))

3

In [3]:
intList = [1,2,3,4]
print(intList)

[1, 2, 3, 4]

In [4]:
intList = [1,2,3,4]
print(len(intList))

4

In [6]:
boolList=[True,False]
print(boolList)

[True, False]

In [8]:
aList= ["a","b","c"]
print(type(aList))

<class 'list'>

In [17]:
#INDEX

aList=["a","b","c","d"]
print(aList[-4])

a

In [37]:
aList=["a","b","c","d"]
print(aList[3:5])

['d']

In [50]:
#in
aList= ["a","b","c"]
if "c" in aList:
    print("c")

c

In [54]:
#Change Item Value

aList = ["a","b","c"]
aList[2] = "d"
print(aList)

['a', 'b', 'd']

In [59]:
#insert
aList = ["a","b","c"]
aList.insert(0,"5")
print(aList)

['5', 'a', 'b', 'c']

In [60]:
#extend
aList = ["a","b","c"]
bList = ["1","2","3","a"]
aList.extend(bList)
print(aList)

['a', 'b', 'c', '1', '2', '3', 'a']

In [64]:
#append
aList = ["a","b","c"]
aList.append("14")
print(aList)

['a', 'b', 'c', '14']

In [66]:
#remove


aList = ["a","b","c"]
aList.remove("a")
print(aList)

['b', 'c']

In [70]:
#pop

aList = ["a","b","c"]
aList.pop(0)
print(aList)

['b', 'c']

In [71]:
aList = ["a","b","c"]
aList.pop() #remove the last item
print(aList)

['a', 'b']

In [77]:
#del

aList = ["a","b","c"]
del aList[1]
print(aList)

['a', 'c']

In [78]:
#clear

aList = ["a","b","c"]
aList.clear()
print(aList)

[]

In [80]:
#LOOP LİST

aList = ["n","b","c","m","p","a"]
for ar in aList:
    print(ar)

n
b
c
m
p
a

In [82]:
#range and len 

aList = ["a","b","c","m","p","n"]
for k in range(len(aList)):
    print(aList[k])

a
b
c
m
p
n

In [89]:
#or
aList = ["a","b","c","m","p","n"]
[print(ar) for ar in aList]

a
b
c
m
p
n

[None, None, None, None, None, None]

In [91]:
#while

aList = [1,2,3,4,5,6]
k =0
while k<len(aList):
    print(aList[k])
    k = k+1

1
2
3
4
5
6

In [124]:
aList = ["code","devil","youtube","hi"]
newList = []
for x in aList:
    if "o" in x:
     newList.append(x)

print(newList)

['code', 'youtube']

In [125]:

aList = [x for x in range(10)]
print(aList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [127]:
aList = [x for x in range(12) if x<7]
print(aList)

[0, 1, 2, 3, 4, 5, 6]

In [140]:
#sort
aList = ["b","a","f","x"]
aList.sort()
print(aList)

['a', 'b', 'f', 'x']

In [142]:
aList = [1,2,3,4,100,1000,23,50,64,29]
aList.sort(reverse = True) #descending
print(aList)

[1000, 100, 64, 50, 29, 23, 4, 3, 2, 1]

In [145]:
aList = ["A","b","a"]
aList.sort()
print(aList)

['A', 'a', 'b']

In [146]:
aList = [1,2]
bList = aList
print(bList)

[1, 2]

In [148]:
aList = [1,2]
blist = aList.copy()
print(blist)

[1, 2]

In [150]:
aList = [1,2,3,4,5]
bList = ["a","b","c","d","e"]
cList = aList + bList
print(cList)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [157]:
aList = [1,2,3,4,5]
bList = ["a","b","c","d","e"]
for k in bList:
    aList.append(k)
print(aList)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [158]:
aList = [1,2,3,4,5]
bList = ["a","b","c","d","e"]
aList.extend(bList)
print(aList)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [37]:
#tuples

aTup = ("a","b","c")
print(aTup)

('a', 'b', 'c')

In [43]:
aTup = ("a","b","c")
print(aTup[-3])

a

In [45]:
#len
aTup = ("a","b","c")
print(len(aTup))

3

In [48]:
#type
aTup = ("a",)
print(type(aTup))

#NOT A TUPLE
bTup = ("a",)
print(type(bTup))

<class 'tuple'>
<class 'tuple'>

In [59]:
aTup = ("a","b","c","d","e")
print(aTup[6:])

()

In [62]:
aTup = ("a","b","c","d","e")
if "b" in aTup:
    print("b")

b

In [63]:
#Change Tuple Values
aTup = ("a","b","c","d","e")
bList = list(aTup)#convert list
bList[2] = "k" #index 2
aTup = tuple(bList)#convert tuple
print(aTup)

('a', 'b', 'k', 'd', 'e')

In [64]:
#remove
aTup = ("a","b","c","d","e")
bList = list(aTup)
bList.remove("c")
aTup = tuple(bList)
print(aTup)

('a', 'b', 'd', 'e')

In [69]:
#unpacking a tuple
aTup = ("a","b","c")
(first,second,third) = aTup
print(first)
print(second)
print(third)

a
b
c

In [70]:
aTup = ("a","b","c")
(first,*second) = aTup
print(first)
print(second)

a
['b', 'c']

In [72]:
aTup = ("a","b","c","d","e")
(first,*second,third) = aTup
print(first) #a
print(second) #b,c,d
print(third) #e

a
['b', 'c', 'd']
e

In [74]:
#loop
aTup = ("a","b","c")
for k in aTup:
    print(k)

a
b
c

In [76]:
#or range len
aTup = ("a","b","c")
for k in range(len(aTup)):
    print(aTup[k])

a
b
c

In [77]:
#while loop

aTup = ("a","b","c")
k = 0
while k<len(aTup):
    print(aTup[k])
    k = k+1

a
b
c

In [78]:
aTup = ("a","b","c")
bTup = ("d","e","f")
cTup = aTup + bTup
print(cTup)

('a', 'b', 'c', 'd', 'e', 'f')

In [81]:
aTup = ("a","b","c")
bTup = 2 * aTup
print(bTup)

('a', 'b', 'c', 'a', 'b', 'c')

In [83]:
#count
aTup = ("a","b","c","a")
b = aTup.count("a")
print(b)

2

In [88]:
#index
aTup = ("a","b","c","a")
b = aTup.index("a")
print(b)

0

In [89]:
#SETS

aSet = {"a","b","c"}
print(aSet)

{'a', 'c', 'b'}

In [90]:
#len
aSet = {"a","b","c"}
print(len(aSet))

3

In [93]:
#type
aSet = {"a","b","c"}
print(type(aSet))

<class 'set'>

In [94]:
#set (convert list or tuples)
aList = ["a","b","c"]
print(set(aList))

{'a', 'c', 'b'}

In [95]:
aSet = {"a","b"}
for k in aSet:
    print(k)

a
b

In [98]:
#addItems

#set,list,tuples

#set

aSet = {"a","b","c"}
aSet.add("k")
print(aSet)

#List

aList = ["d","e","f"]
aList.insert(2,"k")
print(aList)

#Tuples
aTuples = ("g","h","r")
bList = list(aTuples) #convert
bList.insert(1,"k")
aTuples = tuple(bList) #convert
print(aTuples)

{'k', 'a', 'c', 'b'}
['d', 'e', 'k', 'f']
('g', 'k', 'h', 'r')

In [99]:
#update

aSets = {"a","b","c"}
bSets = {"d","e"}
aSets.update(bSets)
print(aSets)

{'a', 'e', 'b', 'd', 'c'}

In [100]:
aSets = {"a","b","c"}
bList = ["d","e"]
aSets.update(bList)
print(aSets)

{'a', 'd', 'c', 'e', 'b'}

In [105]:
#remove
aSets = {"a","b"}
aSets.remove("a")
print(aSets)

{'b'}

In [106]:
#discard
aSets = {"a","b"}
aSets.discard("")
print(aSets)

#not error

{'a', 'b'}

In [107]:
#pop #last item remove
aSet = {"a","b"}
c = aSets.pop()
print(c)

a

In [109]:
#clear

aSet = {"a","b"}
c = aSet.clear()
print(c)

None

In [111]:
#loop
#for
aSet = {"a","b"}
for k in aSet:
    print(k)

a
b

In [112]:
#join
aSet = {"a","b"}
bSet = {"c","d"}
cSet = aSet.union(bSet)
print(cSet)

#or update

{'a', 'c', 'b', 'd'}

In [117]:
#intersection_update

aSet = {"a","b","c"}
bSet = {"c","d","a"}
aSet.intersection_update(bSet)
print(aSet)

{'a', 'c'}

In [122]:
#symmetric_difference_update

aSet = {"a","b","a"}
bSet = {"c","d"}
aSet.symmetric_difference_update(bSet)
print(aSet)

{'a', 'c', 'b', 'd'}

In [11]:
#if else
a = 75
b = 55
if a>b:
    print("a>b")
else:
    print("a<b")

a>b

In [10]:

if a>b: print("a")

a

In [15]:
a = 5
b = 55
c = 15
if a == b:
    print("a == b")
elif c<b:
    print("c<b")

c<b

In [16]:
print("a")if a>b else print("b")

b

In [17]:
#and or
if a<b and c<b: # a = 5 b = 55 c = 15
    print("a and b")

a and b

In [19]:
#or
if a>b or c<b:
    print("a or c")

a or c

In [22]:
#nested if
a = 55
if a>35:
    print(a+3) #58
    if a<40: #65 ~ 75
        print(a+10) 
    else:
        print(a+20)

58
75

In [ ]:
#pass
a = 5
b = 15
c = 12
if a>b:
    pass #pass
elif a<b:
    print("b")

In [1]:
#while #for
k = 20
while k<=30:
    print(k)
    k  = k+1

20
21
22
23
24
25
26
27
28
29
30

In [3]:
#BREAK
k = 0
while k<10:
    print(k)
    k = k+1
    if k == 5:
        break

0
1
2
3
4

In [1]:
k = 0
while k<10:
    k = k+1
    if k == 5:
        continue
    print(k)

1
2
3
4
6
7
8
9
10

In [7]:
k = 0
while k<5:
    print(k)
    k = k+1
else:
    print("***00")

0
1
2
3
4
***00

In [8]:
#for
aFor = {"a","b","c"}
for k in aFor:
    print(k)

c
a
b

In [10]:
for x in "Devil":
    
    print(x)

D
e
v
i
l

In [11]:
#for break
number = [1,2,3,4,5,6]
for k in number:
    print(k)
    if k == 3:
        break

1
2
3

In [13]:
for k in number:
    if k == 3:
        break
    print(k)

1
2

In [16]:
for k in number:
    if k == 3:
        continue
    print(k)

1
2
4
5
6

In [17]:
#for range
for k in range(100):
    print(k)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [20]:
for k in range(50,60):
    print(k)

50
51
52
53
54
55
56
57
58
59

In [22]:
for k in range(10,20,100):
    print(k)

10

In [23]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [24]:
for k in range(10):
    print(k)
else:
    print("F")

0
1
2
3
4
5
6
7
8
9
F

In [25]:
for k in range(k):
    print(k)
else: 
    print("F")

0
1
2
3
4
5
6
7
8
F

In [26]:
a = [1,2,3,4,5,6]
b = [7,8,9,10,11]
for k in a:
    for t in b:
        print(k,t)

1 7
1 8
1 9
1 10
1 11
2 7
2 8
2 9
2 10
2 11
3 7
3 8
3 9
3 10
3 11
4 7
4 8
4 9
4 10
4 11
5 7
5 8
5 9
5 10
5 11
6 7
6 8
6 9
6 10
6 11

In [27]:
a = [1,2,3,4,5,6]
b = [7,8,9,10,11]
for k in a:
    for t in b:
        print("a",k,"b",t)

a 1 b 7
a 1 b 8
a 1 b 9
a 1 b 10
a 1 b 11
a 2 b 7
a 2 b 8
a 2 b 9
a 2 b 10
a 2 b 11
a 3 b 7
a 3 b 8
a 3 b 9
a 3 b 10
a 3 b 11
a 4 b 7
a 4 b 8
a 4 b 9
a 4 b 10
a 4 b 11
a 5 b 7
a 5 b 8
a 5 b 9
a 5 b 10
a 5 b 11
a 6 b 7
a 6 b 8
a 6 b 9
a 6 b 10
a 6 b 11

In [41]:
#fuctions
def aFuc(b):
    print(b)
aFuc("c")
aFuc("d")

c
d

In [43]:
#arg
def aFuc(*number):
    print(number[3])
aFuc("1","2","3","4","5")

4

In [47]:
def aFuc(number1,number2,number3):
    print(number2)
aFuc(number1 = "1",number2="2",number3="3")

2

In [50]:
def aFuc(**number):
    print(number["two"])
aFuc(one = "1",two = "2",four="4",b="4",c="8")

2

In [52]:
def aFuc(number):
    for k in number:
        print(k)
aList = [1,2,3,4,5,6]
aFuc(aList)

1
2
3
4
5
6

In [57]:
#return: 
def aFuc(number):
    return 2 * number
print(aFuc(10))
print(aFuc(10000))
print(aFuc(0.4))

20
20000
0.8

In [4]:
#lambda

a = lambda b:b+10
print(a(20))

#d
d = lambda b,c: 2 *b + 4 * c
print(d(4,2))

30
16

In [31]:
#arrays
aArrays = ["a","b","c"]
aArrays[0]
aArrays[0] = "d"
aArrays
x = len(aArrays)
print(x)
for k in aArrays:
    print(k)
aArrays.append("z")
aArrays
aArrays.pop(0)
aArrays
aArrays.remove("b")
aArrays
y = aArrays.copy()
aArrays
print(y)
aArrays.count("c")
aArrays.append("c")
aArrays
aArrays.count("c")

3
d
b
c
['c', 'z']

2

In [32]:
#class
class Devil():
    c = 19
k1 = Devil()
print(k1.c)

19

In [39]:
class Devil():
    c = 19
Devil.c = 20
Devil.c

20

In [43]:
#__init__
class Devil():
    def __init__(self):
        self.color = ""
a = Devil()
b = Devil()

a.color = "Pink"
b.color = "Blue"

print(a.color)
print(b.color)

Devil().color

Pink
Blue

''

In [57]:
#__init__
class Devil2():
    def __init__(self):
        self.color = []

        
a = Devil2()
b = Devil2()

a.color.append("Pink")
b.color.append("Blue")

print(a.color)
print(b.color)

Devil2().color

['Pink']
['Blue']

[]

In [80]:
class Devil():
    a = []
    def __init__(self):
        self.color = []
        self.name = []
    def newModel(self,newC,newN):
        self.color.append(newC)
        self.name.append(newN)

    
class Devil2(Devil):
    def __init__(self):
        self.model = []

c = Devil2()
c.color = "Yellow"

print(c.color)

Yellow

In [81]:
#lambda

new_sum = lambda a,b: a+b
print(new_sum(4,5))

9

In [83]:
a_List = [("a",3),("d",40),("k",1),("b",9)]
sorted(a_List,key = lambda k:k[0])

[('a', 3), ('b', 9), ('d', 40), ('k', 1)]

In [87]:
#vec fuc
#OOP
a = [1,2,3,4,5]
b = [6,3,5,1,2]
ab = []
for k in range(0,len(a)):
    ab.append(a[k] * b[k])
print(ab)

#vec 

import numpy as np
a = np.array([1,2,3,4,5])
b = np.array([6,3,5,1,2])
print(a*b)

[6, 6, 15, 4, 10]
[ 6  6 15  4 10]

In [103]:

#map filter reduce
#OOP
a_List = [1,2,3,4,5]
for k in a_List:
    print(k+10)

#map

list(map(lambda k:k+10,a_List))
#filter
b_list = [1,2,3,4,5,6,7]

list(filter(lambda y:y %3 == 0,b_list))
#reduce

11
12
13
14
15

[3, 6]

In [113]:
from functools import reduce
c_list = [1,2,3,4,5,6,7]
reduce(lambda a,b:a * b,c_list)

5040

# NUMPY

In [1]:
import numpy as np

In [2]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [3]:
np.array([1.1,4,5]) #float convert int?

array([1.1, 4. , 5. ])

In [4]:
np.array([1.2,3,4.10],dtype = "int")

array([1, 3, 4])

In [6]:
#0
np.zeros(2,dtype = int)

array([0, 0])

In [8]:
#1
np.ones((3,5),dtype = int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [10]:
np.full((2,5),3) #full 3

array([[3, 3, 3, 3, 3],
       [3, 3, 3, 3, 3]])

In [15]:
np.arange(0,101,10) #+5

array([  0,  10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [18]:
np.linspace(2.1,3) #float

array([2.1       , 2.11836735, 2.13673469, 2.15510204, 2.17346939,
       2.19183673, 2.21020408, 2.22857143, 2.24693878, 2.26530612,
       2.28367347, 2.30204082, 2.32040816, 2.33877551, 2.35714286,
       2.3755102 , 2.39387755, 2.4122449 , 2.43061224, 2.44897959,
       2.46734694, 2.48571429, 2.50408163, 2.52244898, 2.54081633,
       2.55918367, 2.57755102, 2.59591837, 2.61428571, 2.63265306,
       2.65102041, 2.66938776, 2.6877551 , 2.70612245, 2.7244898 ,
       2.74285714, 2.76122449, 2.77959184, 2.79795918, 2.81632653,
       2.83469388, 2.85306122, 2.87142857, 2.88979592, 2.90816327,
       2.92653061, 2.94489796, 2.96326531, 2.98163265, 3.        ])

In [20]:
np.random.normal(10,4,(4,2)) #float

array([[ 3.90479091,  7.3582416 ],
       [ 9.71851816,  1.79752005],
       [ 8.94729745,  9.59855356],
       [12.02112805, 15.07224895]])

In [21]:
np.random.randint(0,40,(5,4)) #int

array([[11,  5, 27,  1],
       [ 3, 25, 33, 19],
       [32, 17, 26,  7],
       [ 8, 13, 27,  7],
       [35, 10, 15, 39]])

In [27]:
import numpy as np

In [29]:
a=np.random.randint(0,5,size = 5)

In [30]:
a.ndim

1

In [31]:
a.shape

(5,)

In [32]:
a.size

5

In [33]:
a.dtype

dtype('int32')

In [34]:
#2D
b = np.random.randint(0,10,size = (3,2))

In [35]:
b

array([[2, 7],
       [3, 2],
       [2, 3]])

In [36]:
b.size

6

In [37]:
b.shape

(3, 2)

In [38]:
b.ndim

2

In [39]:
b.dtype

dtype('int32')

In [56]:
#reshaping 
c = np.arange(0,9)

In [58]:
c

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [61]:
a = c.reshape(3,3)

In [62]:
a.ndim

2

# 2d

In [68]:
s = np.arange(0,10)

In [69]:
s.reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [72]:
g=np.array([[1,2,3,4],
        [5,6,7,8]])

In [74]:
g.reshape((4,2))

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

# concatenation

In [75]:
x = np.array([1,2,3,4])
y = np.array([5,6,7,8])

In [76]:
np.concatenate([x,y])

array([1, 2, 3, 4, 5, 6, 7, 8])

# 2d

In [78]:
a = np.array([[1,2,3,4,5],
            [6,7,8,9,10]])

In [79]:
a

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [80]:
np.concatenate([a,a])

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [82]:
np.concatenate([a,a],axis = 1)

array([[ 1,  2,  3,  4,  5,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10,  6,  7,  8,  9, 10]])

In [90]:
#sliptting 
a = np.array([44,2,3,11,11,3,2,44])

In [91]:
a

array([44,  2,  3, 11, 11,  3,  2, 44])

In [92]:
np.split(a,[3,5])

[array([44,  2,  3]), array([11, 11]), array([ 3,  2, 44])]

In [93]:
a,b,c = np.split(a,[3,5])

In [94]:
a

array([44,  2,  3])

In [95]:
b

array([11, 11])

In [96]:
c

array([ 3,  2, 44])

In [97]:
d = np.array([44,2,3,11,11,3,2,44])

In [100]:
a,b,c=np.split(d,[3,5])

In [101]:
a

array([44,  2,  3])

In [102]:
b

array([11, 11])

In [103]:
c

array([ 3,  2, 44])

In [104]:
#2d

In [105]:
m = np.arange(16).reshape(4,4)

In [106]:
m

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [108]:
a,b=np.vsplit(m,[2])

In [109]:
a

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [110]:
b

array([[ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [111]:
#sorting
a = np.random.randint(0,5,size = 4)

In [112]:
a

array([2, 3, 2, 3])

In [113]:
np.sort(a)

array([2, 2, 3, 3])

In [114]:
a

array([2, 3, 2, 3])

In [115]:
a.sort()

In [116]:
a

array([2, 2, 3, 3])

In [117]:
#2d

In [123]:
a = np.random.randint(0,10,size = (4,4))

In [124]:
a

array([[7, 4, 5, 3],
       [1, 2, 1, 2],
       [4, 6, 3, 7],
       [4, 0, 3, 6]])

In [126]:
np.sort(a,axis = 0)

array([[1, 0, 1, 2],
       [4, 2, 3, 3],
       [4, 4, 3, 6],
       [7, 6, 5, 7]])

# NUMPY İNDEX

In [4]:
import numpy as np

In [5]:
a = np.random.randint(10,size = 4)

In [6]:
a

array([1, 2, 8, 5])

In [7]:
a[1]

2

In [8]:
a[0]

1

In [9]:
a[0] = 1000

In [10]:
a

array([1000,    2,    8,    5])

# 2d

In [12]:
b = np.random.randint(10,size = (3,3))

In [13]:
b

array([[4, 0, 8],
       [2, 3, 9],
       [2, 9, 9]])

In [14]:
b[0,0]

4

In [15]:
b[1,0]

2

In [16]:
b[2,2] = 10000

In [17]:
b

array([[    4,     0,     8],
       [    2,     3,     9],
       [    2,     9, 10000]])

In [18]:
b[0,0] = 2.2 # non array insert, convert int

In [19]:
b

array([[    2,     0,     8],
       [    2,     3,     9],
       [    2,     9, 10000]])

In [21]:
#slicing index
a = np.random.randint(10,size = 3)

In [22]:
a

array([5, 0, 4])

In [25]:
a[0:2]

array([5, 0])

In [30]:
a[0::2]

array([5, 4])

In [31]:
a = np.arange(20,30)

In [32]:
a

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [33]:
a[0::3] # 3

array([20, 23, 26, 29])

In [36]:
#2d
a = np.random.randint(20,size = (4,4))

In [37]:
a

array([[ 5, 18,  6, 10],
       [13,  8, 17,  1],
       [11,  6,  6,  2],
       [13, 10,  5,  2]])

In [39]:
a[:,0]

array([ 5, 13, 11, 13])

In [40]:
a[0,:]

array([ 5, 18,  6, 10])

In [41]:
a[0:2,0:3]

array([[ 5, 18,  6],
       [13,  8, 17]])

In [42]:
a[1:3,0:2]

array([[13,  8],
       [11,  6]])

In [43]:
a

array([[ 5, 18,  6, 10],
       [13,  8, 17,  1],
       [11,  6,  6,  2],
       [13, 10,  5,  2]])

In [45]:
c = np.random.randint(10,size = (5,5))

In [46]:
c

array([[2, 7, 0, 8, 2],
       [8, 9, 8, 1, 1],
       [8, 7, 8, 1, 8],
       [2, 4, 5, 0, 4],
       [3, 0, 8, 4, 0]])

In [49]:
c_c = c[3:,:3]

In [50]:
c_c

array([[2, 4, 5],
       [3, 0, 8]])

In [51]:
c_c[0,0] = 10000

In [53]:
c_c

array([[10000,     4,     5],
       [    3,     0,     8]])

In [54]:
c

array([[    2,     7,     0,     8,     2],
       [    8,     9,     8,     1,     1],
       [    8,     7,     8,     1,     8],
       [10000,     4,     5,     0,     4],
       [    3,     0,     8,     4,     0]])

In [55]:
c_d = c[3:,3:].copy()

In [56]:
c

array([[    2,     7,     0,     8,     2],
       [    8,     9,     8,     1,     1],
       [    8,     7,     8,     1,     8],
       [10000,     4,     5,     0,     4],
       [    3,     0,     8,     4,     0]])

In [57]:
c_d[0,0] = 1000000 #copy()

In [58]:
c

array([[    2,     7,     0,     8,     2],
       [    8,     9,     8,     1,     1],
       [    8,     7,     8,     1,     8],
       [10000,     4,     5,     0,     4],
       [    3,     0,     8,     4,     0]])

In [61]:
#fancy index
a = np.random.randint(10, size = (5,5))

In [62]:
a

array([[5, 6, 1, 4, 2],
       [9, 1, 2, 2, 8],
       [9, 1, 2, 9, 9],
       [5, 4, 7, 4, 7],
       [5, 2, 0, 0, 4]])

In [63]:
[a[1,1],a[2,1],a[3,1]]

[1, 1, 4]

In [64]:
b = np.arange(10,20)

In [65]:
b

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [66]:
b[0],b[2]

(10, 12)

In [67]:
v = [0,2]

In [68]:
b[v]

array([10, 12])

In [69]:
#2d

In [70]:
a

array([[5, 6, 1, 4, 2],
       [9, 1, 2, 2, 8],
       [9, 1, 2, 9, 9],
       [5, 4, 7, 4, 7],
       [5, 2, 0, 0, 4]])

In [73]:
l = np.array([0,1])
c = np.array([1,2])
a[c,l]

array([9, 1])

In [74]:
#basic fancy
a[0,[1,2]]

array([6, 1])

In [75]:
#slice fancy
a[0:,[1,2]]

array([[6, 1],
       [1, 2],
       [1, 2],
       [4, 7],
       [2, 0]])